---
import projects from "../collections/projects.json";
import PageHeading from "../components/page-heading.astro";
import Project from "../components/project.astro";
import Layout from "../layouts/main.astro";
import * as m from "../paraglide/messages.js";
---

<Layout title={m.projects_page_Title()}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Projects"
      description={m.projects_page_description()}
      />

    <div
      class="z-50 grid items-stretch w-full grid-cols-1 my-8 gap-7 sm:gap-5 sm:grid-cols-2"
    >
      {
        projects[Astro.currentLocale as 'en' | 'es'].map((project) => {
          return (
            <Project
              name={project.name}
              description={project.description}
              image={project.image}
              alt={project.alt}
              url={project.url}
            />
          )
        })
      }
    </div>
  </section>
</Layout>
